#main-content{
    display: flex;
    margin: 2% 0 0;
}
.leftbg{
    width: 16.68%;
}
.logo p{
    text-align: center;
}
.tabs{
    margin: 19% 0;
}
.items{
    margin: 20% 20%;
}
.items a{
    text-decoration: none;
}
.items img{
    width: 21px;
}
.items p{
    font-size: 1rem;
    font-family: Poppins-Regular;
    letter-spacing: 0.44px;
    position: relative;
}
.items p span{
    margin-left: 10%;
    vertical-align: middle;
}
.items p span.totalbooks, .items p span.totalfavorites{
    background: #17C0D9;
    margin-left: 0;
    border-radius: 50%;
    position: absolute;
    right: 1%;
    vertical-align: middle;
    padding: 2%;
    font-family: Poppins-SemiBold;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.36px;
}
.background-img{
    margin-top: 115%;
    opacity: 0.72; 
}
.background-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.addbooks{
    width: 100%;
}
.addbookcontent{
    width:41.9%;
    margin: 21.3% auto;
    background: #FFFFFF;
    box-shadow: 0 8px 36px 0 rgba(219,228,230,0.42);
    border-radius: 3px;
}
.addbookinputs{
    margin: 0 20% ;
    padding-bottom: 17.548%;
}
.addbookinputs h2{
    text-align: center;
    font-family: Poppins-Light;
    font-size: 26px;
    color: #737373;
    letter-spacing: 0.72px;
    padding: 15% 0;
}
.addbookinputs hr{
    margin: 0 0 15% ;
}
.addbookinputs label, .addbookinputs input{
    display: block;
}
.addbookinputs label{
    font-family: Poppins-SemiBold;
    font-size: 15px;
    color: #737373;
    letter-spacing: 0.42px;
    margin: 3.445% 0;
}
.addbookinputs input{
    background: #F6F6F6;
    width: 100%;
    padding: 1% 0;
    border: 0;
    margin-bottom: 10%;
}
.addbookinputs .submit{
    width: 100%;
    padding: 5.505% 0;
    background: #00BEDA;
    cursor: pointer;
}
.addbookinputs .submit h2{
    font-family: Poppins-Bold;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 1.07px;
}
.items a.active,.items a:hover{
    font-weight: bold;
    color: #00BEDA;
}

.books{
    width: 100%;
    display: none;
}
.books .search-bar,.favorites .search-bar{
    border-bottom: 1px solid #E7E7E7;
    background: #ffffff;
}
.books .search-bar p,.favorites .search-bar p{
    margin: 1% 2% 2%;
}
.books .search-bar input,.favorites .search-bar input{
    font-family: Poppins-Regular;
    font-size: 21px;
    color: #A4A4A4;
    letter-spacing: 0.58px;
    margin-left: 1%;
    vertical-align: middle;
    border: 0;
}
.books .heading h2,.favorites .heading h2{
    font-family: Poppins-SemiBold;
    font-size: 15px;
    color: #737373;
    margin: 2% 2%;
    letter-spacing: 0.42px;
}
.book-content,.favorite-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}
.booktag,.favtag{
    width: 30%;
    margin: 0 0 5% 2%;
    background: #fff;
    box-shadow: 0 2px 11px 0 rgba(182,182,182,0.50);
    max-width: 30%;
    display: none;
}
.booktagcon,.favtagcon{
    padding: 5% 10%;
}
.booktagcon p,.favtag p{
    position: relative;
}
.booktagcon span,.favtag span{
    margin-left: 5%;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #6B6B6B;
    letter-spacing: 0.42px;
    vertical-align: middle;
}
.booktagcon span.delete,.favtagcon span.delete{
    position: absolute;
    right: 1%;
    cursor: pointer;
}
.booktagcon .book-image,.favtagcon .book-image{
    background: #F2F9FB;
    margin:10% 0;   
    padding: 20% 0;
}
.booktagcon .book-image .book-img,.favtagcon .book-image .book-img{
    position: unset;
    text-align: center;
}
.booktagcon h2,.favtagcon h2{
    font-weight: bold;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    color: #00A6BE;
    letter-spacing: 0.42px;
}
.booktagcon h3,.favtagcon h3{
    position: relative;
    font-family: Poppins-Medium;
    font-size: 17px;
    margin-top: 7%;
    color: #505050;
    letter-spacing: 0.47px;
}
.booktagcon h3 span,.favtagcon h3 span{
    position: absolute;
    right: 1%;
}
.booktagcon p span.addtofav{
    cursor: pointer;
}
.favorites{
    display: none;
    width: 100%;
}

@media screen and (max-width:1296px){
    .leftbg{
        width: 25%;
    }
    .items{
        margin: 10% 15%;
    }
    .addbookcontent{
        margin: 20% 20%;
        width: 60%;
    }
    .addbookinputs h2{
        padding: 10% 0;
    }
    .items p span.totalbooks, .items p span.totalfavorites{
        right: 8%;
    }
}
@media screen and (max-width:1080px){
    .items p span.totalbooks, .items p span.totalfavorites{
        right: 4%;
    }
    .items p span{
        font-size: 0.875rem;
    }
}
@media screen and (max-width:790px){
    #main-content{
        display: block;
    }
    .background-img{
        display: none;
    }
    .leftbg{
        width: 100%;
    }
    .tabs{
        margin: 10% 0% 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .favtag{
        width: 90%;
        max-width: 90%;
    }
    .booktag{
        width: 90%;
        max-width: 90%;
    }
    .items{
        margin: 0 auto;
        width: 25%;
    }
    .items p span{
        font-size: 1rem;
    }
    .addbookcontent{
        width: 81%;
        margin: 10% 10%;
    }
    .items p span.totalbooks, .items p span.totalfavorites{
        position: unset;
        margin-left: 5%;
    }
    .books .heading h2, .favorites .heading h2{
        margin: 5%;
        font-size: 1rem;
    }
    .booktag,.favtag{
        margin: 5% 10%;
    }
    .books .search-bar p, .favorites .search-bar p{
        margin: 1% 4% 2%;
    }
    .books .search-bar,.favorites .search-bar{
        margin: 5% 0;
    }
    .addbookinputs{
        margin: 0 20%;
    }
    .addbookinputs label{
        font-size: 1.25rem;
    }
}
